Django==2.2.6
django-anymail==6.1.0
django-crispy-forms==1.8.0
django-countries==5.4
django-dotenv==1.4.2
django-versatileimagefield==1.10
django-minio-storage==0.3.3
dj-database-url==0.5.0
markdown==3.1.1
psycopg2-binary
gunicorn

