Django==3.0.3
django-anymail==7.0.0
django-crispy-forms==1.8.1
django-countries==5.5
python-dotenv
django-versatileimagefield==2.0
dj-database-url==0.5.0
markdown==3.1.1
psycopg2-binary==2.8.4
gunicorn==20.0.4
Pillow==7.0.0
