Django==2.2.5
django-anymail==6.1.0
django-crispy-forms==1.7.2
django-countries==5.4
django-dotenv==1.4.2
django-versatileimagefield==1.10
django-minio-storage==0.2.2
dj-database-url==0.5.0
markdown==3.1.1
psycopg2-binary
gunicorn

