<footer class="bg-light pb-2 pt-3">
  <div class="container">
    <p>&copy; 2019 Stigting VOC. Sien <a href="{% url 'copyright_privacy' %}">kopiereg</a>. See <a href="{% url 'copyright_privacy' %}">copyright</a>.
      <a href="{% url 'tour_list' %}" class="text-dark font-weight-bold mx-2 ml-4">Toere</a>
      <a href="{% url 'medal_list' %}" class="text-dark font-weight-bold mx-2">Medaljes</a>
      <a href="{% url 'speaker_list' %}" class="text-dark font-weight-bold mx-2">Sprekers</a>
    </p>
  </div>
</footer>