{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="jumbotron pb-0 mb-0" id="banner">
    <h1>{% block banner_heading %}Welkom by die Suid-Afrikaanse Stigting VOC{% endblock %}</h1>
  </div>
  <div class="mx-3 text-right">
    <small>{% block banner_caption %}Die Noord-Nieuwland in Tafelbaai, 1762.{% endblock %}</small>
  </div>

  <style>
    #banner {
      background-image: url('{% static 'img/noord-nieuwland.jpg' %}');
      background-position: center center;
      background-size: cover;
      min-height: 80vh;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    #banner h1 {
      font-weight: 600;
      text-shadow: 4px 4px 3px black;
      color: white;
    }
  </style>

  <div class="pb-3 pt-2 mb-3">
    <div class="text-center d-flex justify-content-center">
      <a href="{% url 'index_af' %}" class="text-dark mx-2"><img src="{% static 'flags/za.gif' %}"
                                                                 alt="South African flag" class="p-1">Afrikaans</a>
      <a href="{% url 'index_nl' %}" class="text-dark mx-2"><img src="{% static 'flags/nl.gif' %}"
                                                                 alt="Netherlands flag" class="p-1">Nederlands</a>
      <a href="{% url 'index_en' %}" class="text-dark mx-2"><img src="{% static 'flags/gb.gif' %}" alt="English flag"
                                                                 class="p-1">English</a>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h2>{% block who_we_are_heading %}Wie is ons?{% endblock %}</h2>
        <hr>
        {% block who_we_are_content %}
          <p>Die Stigting VOC is die geregistreerde eienaar van die historiese <a href="{% url 'logo' %}">VOC-logo</a>
            in Suid-Afrika.</p>
          <p>Ons nuusbrief <a href="{% url 'archives' %}">Generale Missive</a> met plaaslike en oorsese VOC-nuus verskyn
            kwartaalliks.</p>
          <p>Die stigting nooi die publiek na <a href="{% url 'event_list' %}">besoeke aan VOC-plekke, lesings en ander
            aktiwiteite</a>.</p>
          <p>Bywoning van vergaderings en gebruik van die Stigting se biblioteek is gratis vir lede.</p>
          <p>Almal wat in die VOC belang-stel is welkom om <a href="{% url 'application' %}">aan te sluit</a>.</p>
        {% endblock %}
      </div>

      <div class="col-md-4">
        <h2>{% block aims_heading %}Doelstellings{% endblock %}</h2>
        <hr>
        {% block aims_content %}
          <p>Bevordering van belangstelling in die VOC-tydperk aan die Kaap (1652-1795).</p>
          <p>Bewaring van artefakte uit dié tyd, soos geboue, skeepswrakke, porselein, dokumente, ens.</p>
          <p>Navorsing oor die VOC, plaaslik en internasionaal.</p>
          <p>Bestudering van die Kaapse inheemse bevolking, die Koina.</p>
          <p>Bevordering van VOC–kultuurtoerisme.</p>
        {% endblock %}
      </div>

      <div class="col-md-4">
        <h2>{% block since_heading %}Ontstaan{% endblock %}</h2>
        <hr>
        <div class="text-center">
          <img src="{% static 'img/voc_logo_web.png' %}" alt="VOC logo" class="img-fluid mb-3"
               style="max-height: 260px">
        </div>
        {% block since_content %}
          <p>Die Stigting VOC het in 1995 tot stand gekom.</p>
          <p>Lees meer oor die <a href="{% url 'logo' %}">logo</a>.</p>
        {% endblock %}
      </div>
    </div>

  </div>

{% endblock content %}