<header>

  <nav class="d-flex flex-column flex-md-row align-items-center px-2 pt-3 pb-1 pb-md-3 bg-light">
    <a class="text-dark font-weight-bold mx-3 mb-0 h5" href="/" id="menu-home">Stigting VOC</a>
    <div class="my-md-0 my-2">
      <a class="text-dark mx-2" href="{% url 'about' %}" id="menu-about">Oor Ons</a>
      <a class="text-dark mx-2" href="{% url 'post_list' %}" id="menu-news">Nuus</a>
      <a class="text-dark mx-2" href="{% url 'archives' %}" id="menu-archives">Argiewe</a>
      <a class="text-dark mx-2" href="{% url 'project_list' %}" id="menu-projects">Projekte</a>
      <a class="text-dark mx-2" href="{% url 'contact' %}" id="menu-contact">Kontak</a>
    </div>
  </nav>

  <div style="height: 5px; width: 100%; background-color: #AE1C28"></div>
  <div style="height: 5px; width: 100%; background-color: #FFFFFF"></div>
  <div style="height: 5px; width: 100%; background-color: #21468B "></div>

</header>

<script>
  (function() {
     const lang = document.querySelector('html').getAttribute('lang') || 'af'

     const translations = {
       home: {
         af: 'Stigting VOC',
         en: 'VOC Foundation',
         nl: 'Stichting VOC',
       },
       about: {
         af: 'Oor Ons',
         en: 'About',
         nl: 'Over Ons',
       },
       news: {
         af: 'Nuus',
         en: 'News',
         nl: 'Nieuws',
       },
       archives: {
         af: 'Argiewe',
         en: 'Archives',
         nl: 'Archief',
       },
       projects: {
         af: 'Projekte',
         en: 'Projects',
         nl: 'Projecten',
       },
       contact: {
         af: 'Kontak',
         en: 'Contact',
         nl: 'Kontak',
       }
     }

    Object.entries(translations).forEach(function ([key, tx]) {
      const node = document.querySelector('#menu-'+key)
      if (!node) return
      if (!tx.hasOwnProperty(lang)) return
      node.textContent = tx[lang]
    })

  })()

</script>