<header>

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">Stigting VOC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'about' %}">Oor Ons | About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'post_list' %}">Nuus | Nuus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'archives' %}">Argiewe | Archives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'project_list' %}">Projekte | Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'contact' %}">Kontak | Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="height: 5px; width: 100%; background-color: #AE1C28"></div>
  <div style="height: 5px; width: 100%; background-color: #FFFFFF"></div>
  <div style="height: 5px; width: 100%; background-color: #21468B "></div>

</header>