
<p><strong>Ledegeld | Membership Fees</strong></p>
<p>Die jaarlikse ledegeld bedra</p>
<p>The annual membership fees are</p>

<ul>
  <li><strong>R150</strong> vir gewone lede | for normal members</li>
  <li><strong>&euro; 10</strong> vir buitelandse betalings | for members making foreign payments</li>
  <li><strong>R40</strong> vir studente | for students</li>
</ul>

<p>
  <strong>Bankbesonderhede | Banking details</strong><br><br>
  Rekeninghouer | Account holder: Stigting VOC<br>
  Bank: Nedbank<br>
  Rekeningnommer | Account number: 1145512305<br>
  Takkode | Branch code: 106012<br>
  Swift: NEDSZAJJ<br>
</p>

<p>Stuur bewys van betaling aan <a href="mailto:sekretaris@voc-kaap.org">sekretaris@voc-kaap.org</a>.</p>
<p>Send proof of payment to <a href="mailto:sekretaris@voc-kaap.org">sekretaris@voc-kaap.org</a>.</p>