{% extends 'base.html' %}

{% block content %}


  <div class="container py-4">

    <h1>Stigting VOC | VOC Foundation</h1>
    <hr>

    <h3 class="mt-4">Komitee | Committee</h3>

    <table class="table">
      <thead>
      <tr>
        <th>Naam</th>
        <th>Posisie</th>
        <th>Position</th>
        <th>E-pos</th>
      </tr>
      </thead>
      <tbody>
      {% for member in committee_members %}
        <tr>
          <td>{{ member.name }}</td>
          <td>{{ member.position_af }}</td>
          <td>{{ member.position_en }}</td>
          <td>{{ member.email_address_public }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

{#    <h3 class="mt-4">Vorige Voorsitters | Past Chairpersons</h3>#}
{##}
{#    <p>Paul Grobbelaar: 1995 - xxx</p>#}
{#    <p>Jan Visagie: xxx - 2000</p>#}
{#    <p>Piet Westra: 2001 - 2005</p>#}
{#    <p>Leon Hattingh: 2006 -</p>#}

    <h3 class="mt-4">Grondwet | Constitution</h3>

    <p>Ons grondwet kan <a href="https://trello-attachments.s3.amazonaws.com/5c3ed197b02d7d76c398f77d/5ca64d95ffac1f1b559a9fe9/b115baad2b1824a7cb676207601d98bd/2015_01_28_VOC_Grondwet_Engels.pdf" download target="_blank">hier</a> afgelaai word.</p>
    <p>Our constitution is available <a href="https://trello-attachments.s3.amazonaws.com/5c3ed197b02d7d76c398f77d/5ca64d95ffac1f1b559a9fe9/b115baad2b1824a7cb676207601d98bd/2015_01_28_VOC_Grondwet_Engels.pdf" download target="_blank">here</a>.</p>

    <h3 class="mt-4">Lidmaatskap | Membership</h3>

    <p>Ons verwelkom enigiemand wat belangstel om 'n lid te word. <a href="{% url 'application' %}">Sluit aan.</a></p>
    <p>We welcome all interested in becoming a member. <a href="{% url 'application' %}">Apply now.</a></p>

    <h3 class="mt-4">Logo</h3>

    <p>Meer inligting oor die VOC logo is <a href="{% url 'logo' %}">hier</a> beskikbaar.</p>
    <p>More information about the VOC logo is available <a href="{% url 'logo' %}">here</a>.</p>

    <h3 class="mt-4">Han Mets Restourasiefonds | Han Mets Restoration Fund</h3>

    <p>Vorige restourasieprojekte is grootliks befonds met behulp van die Van Ewijk-stigting.<br>
      In 2018 het ons lid Dr Han Mets, op eie inisiatief, 'n bedrag geskenk wat as basis van die Stigting VOC se eie restourasiefonds kan dien.
      Alle bydraes van die publiek is welkom — kontak asseblief die sekretaris vir meer inligting.</p>

    <p>Past restoration projects were largely funded with the help of the Van Ewijk foundation.<br>
      In 2018 Dr Han Mets, on own initiative, donated an amount to serve as the basis of the VOC Foundations' own restoration fund.
      All contributions from the public are welcome — please contact the secretary for more information.</p>


  </div>




{% endblock content %}