{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}

  <div class="container py-4">

    <h1>Membership Application</h1>
    <hr>
    <p>Please complete the following form to apply for membership.</p>

    <div class="row">
      <div class="col-md-6 col-12">
        <form method="post" action="">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
      <div class="col-md-6 col-12">
        <p>Please note that the following payment should accompany your application:</p>
        {% include '_payment_details_en.html' %}
      </div>
    </div>

  </div>

{% endblock %}