{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="container py-4">
    <h1>Argiewe | Archives</h1>
    <hr>

    <p>Die Generale Missive is die hoof-publikasie van die Stigting VOC. Ons verwelkom behalwe ons gereelde lesers ook
    navorsers wat hierdie inligting gebruik vir navorsing met die nodige erkenning aan die VOC stigting. Bydraes is
      welkom.</p>

    <p>Vir meer inlgting <a href="{% url 'contact' %}">kontak ons</a>. Lees ook <a href="{% url 'copyright_privacy' %}">ons
      beleid oor kopiereg</a>.</p>

    <p>Generale Missive 1993 tot 2010: gratis maar skenkings is welkom: <a
        href="/media/documents/generale_missive_1998_2011.pdf" download="generale_missive_1998_2011.pdf">Laai Af
      (download)</a>.</p>
    <p>Generale Missive 2011 tot 2015: binnekort beskikbaar.</p>

    {% include '_logo_large.html' %}
  </div>

{% endblock %}