{% extends 'base.html' %}

{% block content %}

  <div class="container">

    <h1>Committee 2018</h1>

    <table class="table">
      <tr>
        <td>Prof Leon Hattingh</td>
        <td>Voorsitter</td>
        <td>Chairperson</td>
      </tr>
    </table>

  	Prof Leon Hattingh 	Voorsitter 	  	Chairperson
  	Dr Helena  Sheffler 	Ondervoorsitter 	  	Deputy Chairperson
  	Rudolf Rode 	Sekretaris 	  	Secretary
  	Cala Wessels 	Penningmeester 	  	Treasurer
  	Dr Dan Sleigh 	Nuusbrief 	  	Newsletter
  	Con de Wet 	Redakteur 	  	Editor
  	Piet Westra 	Media en verspreiding 	  	Media and distribution
  	Dr Nico Walters 	Inlitingbestuur 	  	Information management


  </div>
{% endblock content %}