{% extends 'base.html' %}


{% block content %}

  <div class="container py-4">
    <h1>Kontak | Contact</h1>
    <hr>

    <p>Rig algemene navrae via epos aan <a href="mailto:info@voc-kaap.org">info@voc-kaap.org</a>.
      Kontakbesonderhede van komiteelede is <a href="{% url 'about' %}">hier</a> beskikbaar.</p>

    <p>For general enquiries, please send an email to <a href="mailto:info@voc-kaap.org">info@voc-kaap.org</a>.
      Contact details of committee members are available <a href="{% url 'about' %}">here</a>.</p>

    {% include '_logo_large.html' %}

  </div>

{% endblock content %}