{% extends 'base.html' %}

{% block content %}

  <div class="container py-4">
    <h1>Copyright, Disclaimer & Privacy policy</h1>
    <hr>

    <p>The VOC Foundation is a national heritage information and educational resource. Our policy is to make the
    information on our site available to as many people as possible. There are various types of information on our site
    so please read the terms and conditions below before reproducing any material found on this site. Also note that our
    logo and VOC signage is protected by copyright. Read our policy.</p>

    <p><strong>Use of VOC Foundation material</strong></p>

    <p>We have three types of information on our site: articles and images produced or owned by the VOC Foundation, work in
    the public domain, e.g. out-of-print books, informally published, books/articles and articles/archives we deem to
    belong in the public domain and Externally created articles/theses/images that the VOC Foundation has gained permission
    to use.</p>

    <p><strong>1. Articles and images produced or owned by the VOC Foundation</strong></p>

    <p>The user may reproduce/make use of this material so long as the VOC Foundation is credited as the source of the
    information any duly notified. Please credit us as follows: 'article name e.g. Tobias Christian Rönnenkamp, VOC
      Foundation, http://www.voc-kaap.org</p>

    <p><strong>2. Public Domain</strong></p>

    <p>The user may reproduce/make use of this material with the understanding that the VOC Foundation are not responsible
    for the correctness, any endorsement or authorization and/or any legal action that may arise in using this
    information. The VOC Foundation is not responsible for making any decisions regarding public domain status of any
      material on the site. The VOC Foundation will assist users in cases of uncertainty.</p>

    <p><strong>3. External Sources</strong></p>

    <p>Please note that these externally created articles/theses/images on the VOC Foundation site are protected by South
    African copyright law and may not be reproduced, distributed, transmitted, displayed, or otherwise published in any
    format, without the prior written permission of the copyright owner. We will always endeavour to supply owner details and
    also try to obtain permission for use from these owners. These permissions will be clearly indicated. In some cases
    we may not be able to trace the copyright's owners. We have included this material on this site and, but invite
      anyone who can assist us with contact details to obtain formal permission.</p>

    <p><strong>Linking</strong></p>

    <p>Links to the VOC Foundation site are welcome. However we would appreciate it if you would advise our web editor of
    such links, so that we can inform you if locations change or if references are incorrect. Permission for
    republication of material from this website elsewhere on the web will not generally be granted. We prefer that you
      provide direct hyperlinks to the material on our site.</p>

    <p>Hyperlinks from the VOC Foundation to other websites are for the convenience of users and do not constitute any
    endorsement or authorisation by the VOC Foundation. The VOC Foundation is not responsible for the contents or
    reliability of the linked websites and does not necessarily endorse the views expressed within them. We cannot
      guarantee that these links will work all of the time and we have no control over availability of the linked pages.</p>

  </div>


{% endblock %}