{% extends 'base.html' %}

{% block content %}

  <div class="container py-4">
    <table class="table">
      <tbody>
      <tr>
        <td colspan="3">
          <h3>VOC</h3>
        </td>
      </tr>
      <tr>
        <td><a href="http://www.vocsite.nl/">VOC Site (Dutch)</a></td>
        <td>VOC History</td>
        <td>VOC Geskiedenis</td>
      </tr>
      <tr>
        <td><a href="http://www.tanap.net/content/voc/organization/organization_intro.htm">About VOC-TANAP</a>
        </td>
        <td>VOC History</td>
        <td>VOC Geskiedenis</td>
      </tr>
      <tr>
        <td><a href="http://www.bataviawerf.nl/">About Batavia</a></td>
        <td>History of Batavia</td>
        <td>Geskiedenis van Batavia</td>
      </tr>
      <tr>
        <td><a href="http://www.wiebehayes.nl/">Wiebe Hayes Foundation</a></td>
        <td>The Ship: Batavia</td>
        <td>Die Skip: Batavia</td>
      </tr>
      <tr>
        <td><a href="http://www.nationaalarchief.nl/">Nationaal-Archief (Dutch)</a></td>
        <td>National Archives</td>
        <td>National Argiewe</td>
      </tr>
      <tr>
        <td><a href="http://www.vochistory.org.au/">Australian VOC</a></td>
        <td>Australian VOC</td>
        <td>Australiese-VOC</td>
      </tr>
      <tr>
        <td><a href="http://www.voc-kenniscentrum.nl/gewest-kaap.html"> VOC-kenniscentrum</a></td>
        <td>VOC information</td>
        <td>VOC Inligting</td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.tanap.net/content/activities/documents"> Resolutions Cape TANAP</a>
          </p>
        </td>
        <td>
          <p> Resolutions of the Political Council</p>
        </td>
        <td>
          <p> Resolusies van die politieke raad </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://vocopvarenden.nationaalarchief.nl/">VOC-Opvarende</a></p>
        </td>
        <td>
          <p> Names, city of origin, dates, chambers</p>
        </td>
        <td>
          <p>Name, stad van herkoms, datums, kamer</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.vocsite.nl/schepen/">VOC-skepe</a></p>
        </td>
        <td>
          <p>Ship names, chamber, type, captain, voyage dates</p>
        </td>
        <td>
          <p>Skipnaam, kamer, tipe, kaptein, vaar- datums</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.national.archives.gov.za">Nationale Argiewe/Archives</a></p>
        </td>
        <td>
          <p>Index: Death notices, wills, bonds, etc.</p>
        </td>
        <td>
          <p>Indekse: Sterkennisse, boedels, verbande en ander</p>
        </td>
      </tr>
      <tr>
        <td><a href="http://www.timsview.nl/usa/manhattan.htm">American Dutch heritage</a></td>
        <td>American/ Dutch history</td>
        <td>Amerikaanse Hollandse geskiedenis</td>
      </tr>
      <tr>
        <td colspan="3"><h3>Erfenisorganisies</h3></td>
      </tr>
      <tr>
        <td><a href="http://www.simonvdstel.org">Simon van der Stel Foundation</a></td>
        <td>The Simon van der Stel Foundation</td>
        <td>Stigting Simon van der Stel</td>
      </tr>
      <tr>
        <td><a href="http://heritage.org.za/">Cape Town Heritage Trust</a></td>
        <td>
          <p>&nbsp;Cape Town Heritage Trust </p>
        </td>
        <td>
          <p>Kaapstad erfenis-stigting</p>
        </td>
      </tr>
      <tr>
        <td><a href="http://www.houtbayheritage.org.za">Hout Bay &amp; Llandudno Heritage
          Trust</a></td>
        <td>
          <p>Hout Bay heritage</p>
        </td>
        <td>Houtbaai erfenis</td>
      </tr>
      <tr>
        <td><a href="http://www.simonstown.com/stdc/civic/sths/sths.htm">Simon's Town Historical Society</a></td>
        <td>
          <p> Simon's Town Historical Society </p>
        </td>
        <td>
          <p>Historiese vereniging van Simonstad </p>
        </td>
      </tr>
      <tr>
        <td><a href="http://www.capegateway.gov.za/eng/directories/public_entities/1063/72512">Heritage Western
          Cape</a></td>
        <td>
          <p>Heritage Western Cape (HWC)</p>
        </td>
        <td>Erfenis Wes-Kaap</td>
      </tr>
      <tr>
        <td><a href="http://www.nhc.org.za/index.php">National Heritage Council</a></td>
        <td>
          <p>National Heritage Coucil (NHC)</p>
        </td>
        <td>Nasional erfenis-raad</td>
      </tr>
      <tr>
        <td><a href="http://www.sanparks.org/parks/table_mountain/">Table Mountain National Park</a>
        </td>
        <td>
          <p> Table Mountain National Park</p>
        </td>
        <td>Tafelberg Nasionale Park</td>
      </tr>
      <tr>
        <td><a href="http://whc.unesco.org/en/list/1007">Cape Floral Heritage </a></td>
        <td>
          <p> World Heritage site.</p>
        </td>
        <td>W&ecirc;reld erfenis</td>
      </tr>
      <tr>
        <td colspan="3">
          <h3>Genealogies</h3>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.ggsa.info/">Genealogical Scociety (GSSA)</a></p>
        </td>
        <td>
          <p> Products, Meetings, Branches</p>
        </td>
        <td>
          <p> Produkte,Vergaderings en Takke</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.gisa.org.za">Genealogiese Instituut van Suid Afrika ( GISA)</a></p>
        </td>
        <td>
          <p> Library, GEDCOM, SAG, Family-Web's,researchers</p>
        </td>
        <td>
          <p>Biblioteek, GEDCOM, SAG, Familie-Webwerwe</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.familysearch.org">LDS-Family Search</a></p>
        </td>
        <td>
          <p>International Family registers </p>
        </td>
        <td>
          <p>Internationale Geslagsregisters </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.stamouers.com/">Stamvaders</a></p>
        </td>
        <td>
          <p> Progenitors (Stamvaders VOC, Slaves, history </p>
        </td>
        <td>
          <p>Stamvaders, skepe, slawe, geskiedenis </p>
        </td>
      </tr>
      <tr>
        <td>
          <p><a href="http://www.e-family.co.za/">e-Familie</a></p>
        </td>
        <td>
          <p> Death Notices and other </p>
        </td>
        <td>
          <p> Sterfkennisse ens. </p>
        </td>
      </tr>
      <tr>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock content %}