{% extends 'base.html' %}

{% block content %}

  <div class="container py-4">

    <h1>Useful Links</h1>
    <hr>

    <h3>VOC</h3>

    <table class="table mb-5">
      <tbody>
      <tr>
        <td><a href="http://www.vocsite.nl/" target="_blank">VOC Site (Dutch)</a></td>
        <td>VOC History</td>
        <td>VOC Geskiedenis</td>
      </tr>
      <tr>
        <td><a href="http://www.tanap.net/content/voc/organization/organization_intro.htm" target="_blank">About
          VOC-TANAP</a>
        </td>
        <td>VOC History</td>
        <td>VOC Geskiedenis</td>
      </tr>
      <tr>
        <td><a href="http://www.bataviawerf.nl/" target="_blank">About Batavia</a></td>
        <td>History of Batavia</td>
        <td>Geskiedenis van Batavia</td>
      </tr>
      <tr>
        <td><a href="http://www.wiebehayes.nl/" target="_blank">Wiebe Hayes Foundation</a></td>
        <td>The Ship: Batavia</td>
        <td>Die Skip: Batavia</td>
      </tr>
      <tr>
        <td><a href="http://www.nationaalarchief.nl/" target="_blank">Nationaal-Archief (Dutch)</a></td>
        <td>National Archives</td>
        <td>National Argiewe</td>
      </tr>
      <tr>
        <td><a href="http://www.vochistory.org.au/" target="_blank">Australian VOC</a></td>
        <td>Australian VOC</td>
        <td>Australiese-VOC</td>
      </tr>
      <tr>
        <td><a href="http://www.voc-kenniscentrum.nl/gewest-kaap.html" target="_blank"> VOC-kenniscentrum</a></td>
        <td>VOC information</td>
        <td>VOC Inligting</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.tanap.net/content/activities/documents" target="_blank"> Resolutions Cape TANAP</a>
        </td>
        <td>Resolutions of the Political Council</td>
        <td>Resolusies van die politieke raad</td>
      </tr>
      <tr>
        <td>
          <a href="http://vocopvarenden.nationaalarchief.nl/" target="_blank">VOC-Opvarende</a>
        </td>
        <td>
          Names, city of origin, dates, chambers
        </td>
        <td>
          Name, stad van herkoms, datums, kamer
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.vocsite.nl/schepen/" target="_blank">VOC-skepe</a>
        </td>
        <td>
          Ship names, chamber, type, captain, voyage dates
        </td>
        <td>
          Skipnaam, kamer, tipe, kaptein, vaar- datums
        </td>
      </tr>
      <tr>
        <td>
          <a href="http://www.national.archives.gov.za" target="_blank">Nationale Argiewe/Archives</a>
        </td>
        <td>
          Index: Death notices, wills, bonds, etc.
        </td>
        <td>
          Indekse: Sterkennisse, boedels, verbande en ander
        </td>
      </tr>
      <tr>
        <td><a href="http://www.timsview.nl/usa/manhattan.htm" target="_blank">American Dutch heritage</a></td>
        <td>American/ Dutch history</td>
        <td>Amerikaanse Hollandse geskiedenis</td>
      </tr>
      </tbody>
    </table>
    <h3>Erfenisorganisies</h3>
    <table class="table mb-5">
      <tbody>
      <tr>
        <td><a href="http://www.simonvdstel.org" target="_blank">Simon van der Stel Foundation</a></td>
        <td>The Simon van der Stel Foundation</td>
        <td>Stigting Simon van der Stel</td>
      </tr>
      <tr>
        <td><a href="http://heritage.org.za/" target="_blank">Cape Town Heritage Trust</a></td>
        <td>Cape Town Heritage Trust</td>
        <td>Kaapstad erfenis-stigting</td>
      </tr>
      <tr>
        <td><a href="http://www.houtbayheritage.org.za" target="_blank">Hout Bay &amp; Llandudno Heritage Trust</a></td>
        <td>Hout Bay heritage</td>
        <td>Houtbaai erfenis</td>
      </tr>
      <tr>
        <td><a href="http://www.simonstown.com/stdc/civic/sths/sths.htm" target="_blank">Simon's Town Historical
          Society</a></td>
        <td>
          Simon's Town Historical Society
        </td>
        <td>
          Historiese vereniging van Simonstad
        </td>
      </tr>
      <tr>
        <td><a href="http://www.capegateway.gov.za/eng/directories/public_entities/1063/72512" target="_blank">Heritage
          Western
          Cape</a></td>
        <td>
          Heritage Western Cape (HWC)
        </td>
        <td>Erfenis Wes-Kaap</td>
      </tr>
      <tr>
        <td><a href="http://www.nhc.org.za/index.php" target="_blank">National Heritage Council</a></td>
        <td>
          National Heritage Coucil (NHC)
        </td>
        <td>Nasional erfenis-raad</td>
      </tr>
      <tr>
        <td><a href="http://www.sanparks.org/parks/table_mountain/" target="_blank">Table Mountain National Park</a>
        </td>
        <td>
          Table Mountain National Park
        </td>
        <td>Tafelberg Nasionale Park</td>
      </tr>
      <tr>
        <td><a href="http://whc.unesco.org/en/list/1007" target="_blank">Cape Floral Heritage </a></td>
        <td>
          World Heritage site.
        </td>
        <td>Wêreld erfenis</td>
      </tr>
      </tbody>
    </table>

    <h3>Genealogies</h3>
    <table class="table mb-5">
      <tbody>
      <tr>
        <td>
          <a href="http://www.ggsa.info/" target="_blank">Genealogical Scociety (GSSA)</a>
        </td>
        <td>Products, Meetings, Branches</td>
        <td>Produkte,Vergaderings en Takke</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.gisa.org.za" target="_blank">Genealogiese Instituut van Suid Afrika ( GISA)</a>
        </td>
        <td>Library, GEDCOM, SAG, Family-Web's,researchers</td>
        <td>Biblioteek, GEDCOM, SAG, Familie-Webwerwe</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.familysearch.org" target="_blank">LDS-Family Search</a>
        </td>
        <td>International Family registers</td>
        <td>Internationale Geslagsregisters</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.stamouers.com/" target="_blank">Stamvaders</a>
        </td>
        <td>Progenitors (Stamvaders VOC, Slaves, history</td>
        <td>Stamvaders, skepe, slawe, geskiedenis</td>
      </tr>
      <tr>
        <td><a href="http://www.e-family.co.za/" target="_blank">e-Familie</a>
        </td>
        <td>Death Notices and other</td>
        <td>Sterfkennisse ens.</td>
      </tr>
      <tr>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock content %}