{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="container py-4">

    <h1>VOC Foundation logo</h1>
    <hr>

    {% include '_logo_large.html' %}

    <p>The VOC logo and signage is the exclusive ownership of the VOC Foundation within the boundaries of the republic of
      South Africa.</p>

    <p>No person or organisation may use this logo, in any form, including the monogram with or without the wreath,
      on products, for marketing or for whatever reason within the boundaries
      of the Republic of South Africa without written permission from the Foundation.<br>
      An annual licensing fee (or grant) of R25 000 will apply if the logo is used for commercial purposes subject to
      approval by the management of the VOC Foundation. Discounts can be negotiated for special cases. This fee may be tax deductible.
      Please <a href="{% url 'contact' %}">contact us</a> for more information.</p>

    <p>The license fee will be amended annually subject to approval of members at the annual general meeting.
      A free license will be awarded for educational, research and community projects subject to approval by the management of the VOC Foundation.</p>

    <p>All licence/royalty income is used to sponsor research, projects and heritage promotion. As a Public Benefit
      Organisation (PBO) all our financial information is available to the public, subject to a written request.</p>
  </div>
{% endblock content %}