{% extends 'base.html' %}

{% load static %}

{% block content %}


  <div class="container py-4">
    <h1>Projekte | Projects</h1>
    <hr>
    {% for project in projects %}

      <div class="media mt-4">

        {% if project.featured_image %}
          <img src="{{ project.featured_image.image.crop.200x200.url }}" class="img img-thumbnail mr-3">
        {% else %}
          <img src="{% static 'img/voc_logo_web.png' %}" style="max-width: 210px" class="img img-thumbnail mr-3">
        {% endif %}
        <div class="media-body">
          <h3><a href="{% url 'project_detail' project.slug %}" class="text-dark">{{ project.title }}</a></h3>
          <p><strong>{{ project.timeline }}</strong></p>
          <p>{{ project.short_description }} {% if project.content %}
            <a href="{% url 'project_detail' project.slug %}">Lees meer.</a>{% endif %}</p>
        </div>
      </div>

    {% endfor %}

  </div>
{% endblock %}