{% extends 'base.html' %}

{% block content %}


  <div class="container py-4">
    <h1>Projekte | Projects</h1>
    <hr>
    {% for project in projects %}
      <div class="mt-4">
        <h3><a href="{% url 'project_detail' project.slug %}" class="text-dark">{{ project.title }}</a></h3>
        <p><strong>{{ project.timeline }}</strong></p>
        <p>{{ project.short_description }} {% if project.content %}
          <a href="{% url 'project_detail' project.slug %}">Lees meer.</a>{% endif %}</p>
      </div>
    {% endfor %}

  </div>
{% endblock %}